<%= 
rates = Mirror.Currency |> Mirror.Repo.all |> Enum.map(fn currency -> {currency.symbol, currency.rate} end)

for {symbol, rate} <- rates do %>
  <div class="currency">
    <h2><%= symbol %></h2>
    <p id="<%= symbol %>"><%= rate %></p>
  </div>
<% end %>